# Generated directories:
.nyc_output/
coverage/
dist/

# dependencies
!/node_modules/
/node_modules/*
!/node_modules/dayjs/
/node_modules/dayjs/*
!/node_modules/dayjs/esm/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
